<?xml version="1.0" encoding="UTF-8"?>
<config>
    <database>
        <type>mysql</type>
        <name></name>
        <user></user>
        <password></password>
        <address>localhost</address>
        <charset>utf8</charset>
    </database>
    <settings>
        <title>Default Title</title>
        <charset>utf-8</charset>
        <template>default</template>
        <time_zone>(GMT) London</time_zone>
        <date_format>H:i</date_format>
        <time_format>m/d/y</time_format>
        <file_prev>0777</file_prev>
        <folder_prev>0777</folder_prev>
        <lang>eng</lang>
    </settings>
</config>
